/* -*- mode: js; js-indent-level: 4; indent-tabs-mode: nil -*- */

polkit.addRule(function(action, subject) {
    if ((action.id == "org.debian.pcsc-lite.access_card" || action.id == "org.debian.pcsc-lite.access_pcsc") && subject.isInGroup("pcscd")) {
            return polkit.Result.YES;
    }
});
