<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FlagCarrierWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <FlagCarrierWin.Properties.Settings>
                <setting name="deviceID" serializeAs="String">
                        <value>windows</value>
                </setting>
                <setting name="groupID" serializeAs="String">
                        <value>main</value>
                </setting>
                <setting name="positionsAvail" serializeAs="String">
                        <value>left,mid,right</value>
                </setting>
                <setting name="targetUrl" serializeAs="String">
                        <value>https://oromit.de/hosts.php</value>
                </setting>
        </FlagCarrierWin.Properties.Settings>
    </userSettings>
</configuration>
